@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-ExtraLight.ttf') format('ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-ExtraLightItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-LightItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  font-family: 'Fira', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #FFF;
}

h1  {
  font-family: 'Fira', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.8em;
  color: #FFF;
}

h2 {
  font-family: 'Fira', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8em;
  color: #FFF;
}

p {
  font-family: 'Fira', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.8em;
  color: #FFF;
}

.page-header {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;

 height: 100px;
 width: 100%;

 background-color: rgba(0, 0, 0, 0.5);

 border: solid 1px navy;
}

.page-header h1 {
  font-style: italic;
  font-size: 52px;

  padding-left: 10px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  background: #D6E9FE;
  }

.header-nav li {
  padding: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.75);

  border: solid 1px red;
}

.article-header {
  display: flex;
  justify-content: center;

  width: 80%;
}

figure {
  display: flex;

  height: 200px;
  border: solid 1px lime;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: auto;
  width: 100%;

  border: solid 1px red;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  height: 100px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  border: solid 1px navy;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  background: #D6E9FE;
  }

.footer-nav li {
  padding: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }

  article {
    width: 80%;
  }

  figure {
    width: 50%;
  }

  .text-box {
    width: 50%;
    height: 200px;
  }
}
