@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-ExtraLight.ttf') format('ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-ExtraLightItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-LightItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-family: 'Fira', sans-serif;   /* Add 'Roboto' here */
  font-size: 18px;
  line-height: 1.8em;
  color: #FFF;
}

.bg {
  /* The image used */
  background-image: url("../img/lambo.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-about {
  background-image: url('../img/pentax.jpg');

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.landing-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  height: 50%;
}

.landing-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 50%;
}

p {
  font-family: 'Fira', sans-serif;   /* Add 'Roboto' here */
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.8em;
  color: #FFF;
}

.button-container {
  margin: 10px;
}

.button {
  background-color: #white;
  border: 2px solid #White;
  border-style: solid;
  border-radius: 100px;
  color: black;
  padding: 16px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 0, 120, 0.5);
  color: white;
  font-size: 32px;
}
